.container{
    display: flex;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 95vw;
    height: 95vh;
}

.navWrapper{
    width: 15%;
    height: 100%;
    margin-right: 2.5rem;
    overflow: hidden;
}

.contentWrapper{
    width: 100%;
    overflow: scroll;
}

.contentWrapper::-webkit-scrollbar {
    display: none;
}